* {
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Likely future */
}
@viewport {
  width: device-width;
  zoom: 1;
}
/*------Main Part or Body Part--------*/
html,
body {
  width: 100%;
  margin: 0px !important;
  padding: 0px !important;
  overflow-x: initial !important;
  background-color: #050505;

  color: rgba(255, 255, 255, 0.9);
  font: normal 1em "Open Sans", serif;
  line-height: 1.6;
}
/* ----------CONTENT, basically make all section and parts flow vertically --------*/

/* Top NavBar */
.navbar ul {
  margin: 0;
  padding: 2.5em 5em;
  overflow: hidden;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.nav-tab-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* --- LOGO OF WEBSITE (.michaelvaltn) ----*/
#logo-web {
  text-decoration: none;
  font: normal bold 1.6em "Montserrat", sans-serif;
  margin: 0 1em;
}
.nav-tab {
  list-style-type: none;
  display: block;

  margin-right: 3em;
  color: inherit;
  font: normal 1.3em "Open Sans", sans-serif;
  letter-spacing: 1.5px;
  transition: all 0.3s ease 0s;

  text-decoration: none;
  text-align: center;
}
.nav-tab:hover {
  transform: translate(0, -7px);
}

/*--------SOSMED ICONS ---------------*/
/*To set it on place */

.socialmedia {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon {
  border-radius: 50px;
  width: 55px;
  height: 55px;
  margin: 10px;

  transition: all 0.8s;
}
.socialmedia img {
  filter: invert(100%);
  width: 25px;
}
/* The circle that appear on icons when hover */
.socialmedia a:hover {
  box-shadow: 0px 0px 1px 5px #eeeeee;
}
/* Main */
/*background for main bggreetings, --- FIRST PART OF PAGE ---*/
#bggreetings {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)),
    url("../images/wallpaper/dark-workspace-min.jpg");
  height: 100vh;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
/* Section of greeting and caption (greetingpart)*/
/* -- BOX for: I'M Michael, boxtext webbutton and sosmed icons. in place --*/
.greetingpart {
  width: 85%;
  margin: 9em auto 1em;
  display: flex;
  flex-direction: row;
}
/*Caption from I'm michael */
.box-text {
  font-size: 1.2em;
  width: 55%;
  margin: 2em 0 1.5em;
  text-align: justify;
}
.box-text p {
  text-align: justify;
  margin: 0;
}
/*I'm Michael*/
.greeting {
  font: normal 3.8em "Ubuntu", sans-serif;
  text-transform: capitalize;
  line-height: 0.5;
  margin: 0 0 0.8em;
}
/* -----------BUTTON TO MY RESUME PAGE---------- */
#web-button-part {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 6em;
}

.web-button {
  text-align: center;
  padding: 0.8em 2em;
  position: relative;
  overflow: hidden;

  width: 8em;
  border: solid rgba(2, 119, 189, 0.5) 1px;
  border-radius: 50px;
  background: rgba(2, 119, 189, 0.5);
  color: inherit;
  box-shadow: 5px 5px 5px #000000;

  font: bold 1.1em "Open Sans", sans-serif;
  text-decoration: none;
  z-index: 2;
  transition: all 0.5s;
}
.web-button:link,
.web-button:visited {
  color: inherit;
}
.web-button:hover {
  border: solid 0.25px rgba(2, 119, 189, 0.5);
  transform: translate(0, -10px);
  color: inherit;
}

/*the blue part, used for fill animation*/
.web-button:hover::before {
  top: 0px;
  border-radius: 0;
}
.web-button::before {
  content: "";
  position: absolute;
  top: 70px;
  left: 0px;
  width: 100%;
  height: 100%;

  background: rgba(2, 119, 189, 0.5);
  border-radius: 80% 80% 0 0;
  z-index: -1;
  transition: all 0.5s;
}
/*--------FOR DOWN CLICK ARROW --------*/
#downClick {
  position: absolute;
  margin-left: 50%;
  transition: 0.5s;

  color: #ffffff;
  font: normal 400 1em "Open Sans", sans-serif;
  letter-spacing: 0.1em;
  text-decoration: none;
}
#downClick:hover {
  transform: translate(0, -10px);
  opacity: 0.5;
  cursor: pointer;
}
#my-scroll a span {
  position: absolute;
  left: 50%;
  width: 18px;
  height: 18px;
  border-left: 3px solid #ffffff;
  border-bottom: 3px solid #ffffff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}

.section-title {
  background: linear-gradient(
    125deg,
    rgba(0, 0, 0, 1) 75%,
    rgba(51, 51, 51, 1) 99%
  );
  margin: 0 auto;
}
.section-title-box {
  padding: 5em;
  text-align: center;
}
.section-h2 {
  font: normal lighter 2.1em "Ubuntu", sans-serif;
  letter-spacing: 1px;
  text-align: center;
  margin-top: 0;
}
/* The explanation on each section title */
.section-p {
  text-align: justify;
  margin: 0 auto;
  width: 70%;
  font-size: 1.2em;
}
/* ----------RESUME CONTENT PART ----------*/
.resume-content {
  padding: 3em;
}
.resume-content-box {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.my_resume-box {
  width: 60%;
}
#my_resume {
  width: 100%;
  filter: brightness(100%);
}
.explanation-box {
  display: flex;
  flex-direction: column;
  width: 35%;
  margin: 0 auto;
}
.explanation-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  text-align: justify;
  padding: 4em 3em;
  border-radius: 10px;
  background: #0e0e0e;
}
.explanation-card h2 {
  margin-bottom: 0;
}
.explanation-card p {
  font-size: 1.1em;
  margin-bottom: 1em;
}
#download-part {
  margin-top: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.download-button {
  text-align: center;
  padding: 0.8em 2em;
  position: relative;
  overflow: hidden;

  width: 10em;
  border: solid rgba(2, 119, 189, 0.5) 0.25px;
  border-radius: 50px;
  background: rgba(2, 119, 189, 0.5);
  color: inherit;

  font: bold 1.1em "Open Sans", sans-serif;
  text-decoration: none;
  z-index: 2;
  transition: all 0.5s;

  box-shadow: 5px 5px 10px #000000;
}
.download-button:link,
.download-button:visited {
  color: inherit;
}
.download-button:hover {
  border: solid 0.25px rgba(2, 119, 189, 0.5);
  transform: translate(0, -10px);
  color: inherit;
}
/*the blue part, used for fill animation*/
.download-button:hover::before {
  top: 0px;
  border-radius: 0;
}
.download-button::before {
  content: "";
  position: absolute;
  top: 70px;
  left: 0px;
  width: 100%;
  height: 100%;

  background: rgba(2, 119, 189, 0.5);
  border-radius: 80% 80% 0 0;
  z-index: -1;
  transition: all 0.5s;
}
/* -----------FOOTER PART------------ */
.button-box {
  margin: 3em auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 70%;
  flex-wrap: wrap;
}

.button-back {
  text-align: center;
  margin: 0em 1em 1.5em;
  padding: 0.8em 2em;
  position: relative;
  overflow: hidden;

  width: 8em;
  border: solid rgba(2, 119, 189, 0.1) 0.25px;
  border-radius: 50px;
  background: rgba(2, 119, 189, 0.1);
  color: #0277bd;

  font: bold 1.1em "Open Sans", sans-serif;
  text-decoration: none;
  z-index: 1;
  transition: all 0.5s;

  box-shadow: 5px 5px 5px #000000;
}
.button-back:link,
.button-back:visited {
  color: #0277bd;
}
.button-back:hover {
  border: solid 0.25px rgba(2, 119, 189, 0.5);
  transform: translate(0, -10px);
  color: inherit;
}

/*the blue part, used for fill animation*/
.button-back:hover::before {
  top: 0px;
  border-radius: 0;
}
.button-back::before {
  content: "";
  position: absolute;
  top: 70px;
  left: 0px;
  width: 100%;
  height: 100%;

  background: rgba(2, 119, 189, 0.5);
  border-radius: 80% 80% 0 0;
  z-index: -2;
  transition: all 0.5s;
}
.cr {
  text-align: center;
}
