*{
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}
@viewport {
  width: device-width ;
  zoom: 1.0 ;
}
/* Top NavBar */
.navbar ul{
  margin: 0;
  overflow: hidden;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#icon{
  text-decoration: none;
  font: normal bold 1.4em "Montserrat", sans-serif;
  color:#FFFFFF;
  margin-right: .5em;
}
.nav-tab{
  list-style-type: none;
  display: block;
  padding: 2em 1.3em;

  color: #FFFFFF;
  font: normal 1.1em "Open Sans", sans-serif;
  letter-spacing: 1.5px;
  
  text-decoration: none;
  text-align: center;
  
}

.nav-tab:hover{
  color: #FFFFFF;
  font-weight: bolder;
  letter-spacing: 2px;
  opacity: .5;
  transition: all 0.3s ease 0s;

}
/* Main */
/*background for main bggreetings*/
#bggreetings{
  background:linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 1.5) ), url('../images/wallpaper/dark-workspace-min.jpg');
  height: 90vh;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size:  cover;
  -o-background-size: cover;
}
/* Section of greeting and caption (greetingpart)*/
.greetingpart{
  width: 80%;
  margin: 10em auto 2em;
}
.box-all{
  display: flex;
  flex-direction: row;
}
/*Hello I'm Michael*/
.greeting{
  color: #f8f8f8;
  font:normal 3.8em 'Ubuntu', sans-serif;
  text-transform: capitalize;
  line-height: 0.5;
  margin: 0 0 .7em;  
}
.mypic{
  max-height: 18em;
  
}

/*text of about myself*/
.text-about{
  font: normal 200 1em 'Open Sans', sans-serif;
  color: #FFFFFF;
  text-align: left;
  width: 80%;
  margin-bottom: 2em;
}
.box-text{
  width:60%;
}
.text-about h2{
  font: normal 400 1.1em 'Open Sans', sans-serif;
  text-align: justify;
}
.text-about p{
  margin:0;
  margin-bottom:0.5em;
}
@media (max-width:600px){
  .greeting{
    font-size: 3em;
  }
}
/* For Links in Index */

.web-button{
  display: inline-block;
  text-align: center;
  padding: 1em 1em;
  background-color: transparents;

  width: 20%;
  border: solid #f8f8f8 2px;
  
  font:normal 1em "Open Sans", sans-serif;
  text-decoration: none;

}
.web-button:first-child{
  margin-right: 1em;
}
a.web-button:link{
  color: #FFFFFF; /*#1E1F21;*/


  transition: all 0.4s ease 0s;

}
a.web-button:visited{
  color: #FFFFFF;
}
a.web-button:hover{
  background-color: #f8f8f8;
  border: solid 1px #1E1F21;
  color: #1E1F21;
  font-weight: bold;
  opacity: 0.9;

  letter-spacing: 0.7px;
  -webkit-box-shadow: 0px 5px 30px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 30px -10px rgba(0,0,0,0.57);
  box-shadow: 5px 30px -10px rgba(0,0,0,0.57);
  transition: all 0.3s ease 0s;

}

a.bgsource {
  text-align: right;
  float: right;
  opacity: 0.5;
  text-decoration: none;
}
a.bgsource:link{
  font: normal "Open Sans", sans-serif;
  color: #FFFFFF;
}
a.bgsource:visited{
  font: normal "Open Sans", sans-serif;
  color: #FFFFFF;
}


#downClick{
  position: absolute;
  margin-left: 40%;
  margin-top: 4em;
  z-index: 2;

  display: inline-block;
  transition: .5s;
  
  color: #FFFFFF;
  font : normal 400 1em 'Open Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
}

#downClick:hover{
 
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);

  opacity: .5;
  cursor: pointer;

}

#my-scroll a span {
  position: absolute;
  width: 15px;
  height: 15px;
  margin-left: -12px;
  border-left: 3px solid #fff;
  border-bottom: 3px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
  transition: .5s;
}

/*Main Part or Body Part*/
html, body{
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: initial !important;
  background-color: #000000;
}

/* My interest article section */
.mypassion{
  margin: 9em auto 4em;
  color: #ffffff;
  font: normal 100 1em 'Open Sans', serif;
  font-size: 1em;
  width: 100%;
  text-align: justify;
}
/* Careers that i'm interested in */

/*H in my passion */
.headerpassion h3{
  margin:0;
  margin-bottom: .5em;
  font-size: 1.5em;
  letter-spacing: 1.5px;
}

/*Set all image in passion part to half the container (career-content)*/
.passion-box img{ 
  width: 50%;
}

/* placement for content*/
.career-content{
  display: flex;
  flex-direction: row;
}

.passion-desc{
  letter-spacing: 1px;
  width: 50%;
  padding: 4em;
}
.reason{
  text-align: left;
}

/* CSS for sources */
.sources a, .sources li{
  opacity: 0.5;
  text-decoration: none;
  list-style-type: none;
 
}
.sources a:link{
  font-family: serif;
  color: #f8f8f8;
  font-style: normal;
}
.sources a:visited{
  font-family: serif;
  color: #f8f8f8;
}

/*SKILLS SECTION*/
#skills-learn{
  width: 80em;
  margin: 0 auto;
  color: #f8f8f8;
}
.skill-part{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.25fr 1fr .5fr;
  grid-template-areas:
    "header header header header" 
    "sql excel web-dev js"
    "why why why why";
}
#skill-title{
  font: normal lighter 2.1em 'Ubuntu', sans-serif;
  letter-spacing: 1px;
  text-align: center;

  grid-area:header;
}
.icon-section{
  font: normal 100 1em 'Open Sans', sans-serif;
  
  text-align: justify;
  margin: 0 1em;
}

#sql{
  grid-area: sql;
}
#excel{
  grid-area: excel;

}
#web-dev{
  grid-area: web-dev;
}
#js{
  grid-area: js;
}

.icon-section img{
  -webkit-filter: invert(1);
  filter: invert(1);
  width: 50px;
}
#why{
  grid-area: why;

  font: normal 1em "Open Sans", sans-serif;
  padding: 0 1em;
  text-align: justify;
}
/*FOOTER PART*/
footer{
  width: 70em;
  margin:0 auto;
  font:normal 1em 'Open Sans', sans-serif;
  color: #FFFFFF;
}
.footer-box{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}
footer h2{
  font: normal lighter 1.4em 'Ubuntu', sans-serif;
  margin-bottom: 0em;
}
.thankpart{
  text-align: center;
  font:normal 1.5em 'Open Sans', sans-serif;
  margin: 2em auto;
}
.form-part{
  width: 50%;
}
label{
  margin-top: 1em;
}
input, textarea{
  padding:1em;
  font: normal 300 .9em 'Open Sans', sans-serif;
  margin-top: .5em;
}
#submit-button{
  width: 25%;
  margin-left: 1em;
  font: normal .9em 'Open Sans', sans-serif;
  background-color: transparent;
  color: #FFFFFF;
  border: #FFFFFF solid 2px;
  transition: all 0.4s ease 0s;
}
#submit-button:hover{
  letter-spacing: 1px;
  color: #000000;
  background-color: #FFFFFF;
  opacity: .9;
  font-weight: bold;
}
.end{
  text-align: right;
}

.socialmedia{
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-size: 1.2em;
}
.socialmedia i{
  padding-left: 0.5em;
  font-size: 1.5em;

  transition: .5s;
}
.socialmedia i:hover{
  opacity: .5;
  -webkit-transform: translate(0, -30%);
  transform: translate(0, -30%);
}
.socialmedia a{
  text-decoration: none;
  color: #FFFFFF;
}
.cr{
  margin-top: 1em;
  text-align: right;
}
.nav-bottom{
  margin: 1.5em 0 0;
  color: #FFFFFF;
  font-size: 1.1em;
  text-align: right;
}
.nav-bottom ul,p{
  margin: 0;
}
.end h2{
  font-size: 1.4em !important;
  margin: 0 !important;
}

.nav-bottom a{
  text-decoration: none;
  color: #f8f8f8;
  margin-left: 1em;
}
.nav-bottom a:hover{
  opacity: .5;
}
.nav-bottom a:visited{
  text-decoration: none;
}
.connect{
  text-align: right;
}

